<!-- Accordion Header  -->
<div id="accordion-{{ index }}"
    {% if always_open %}
        data-accordion="open"
    {% else %}
        data-accordion="collapse"
    {% endif %}
    >

    <h2 id="accordion-heading-{{ index }}">
        <div class="accordion-header-div w-full mt-4 flex flex-row">

            <div type="button" 
                class="accordion-header-button cursor-pointer
                    flex items-center justify-between w-full min-h-16 p-3 
                    font-medium text-gray-500 border border-gray-200 rounded-lg 
                    focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3"
                    
                {% if not always_open %}
                    data-accordion-target="#accordion-body-{{ index }}" 
                    aria-controls="accordion-body-{{ index }}"
                    aria-hidden="true"
                {% endif %}
                >
                
                <span>{{ title }}</span>

                <div class="flex flex-row items-center gap-1">

                    <div class="flex flex-row items-center gap-1 
                        {% if not always_open %}
                            hidden
                        {% endif %}
                        ">

                        <!-- Add Button -->
                        <button type="button" 
                            hx-get="/crud_dialog?action=add&entity={{ entity }}"
                            hx-target="body"
                            hx-swap="beforeend"
                            class="add-button">
                            <span class="material-symbols-outlined">add</span>
                        </button>

                    </div>
                    
                    {% if not always_open %}
                    <!-- Chevron Shape -->
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                    {% endif %}

                </div>

            </div>
            
        </div>
    </h2>
</div>

<!-- Accordion Body  -->
<div id="accordion-body-{{ index }}" 
    class="accordion-body 
        {% if not always_open %}
            hidden
        {% endif %}
        " 
    aria-labelledby="accordion-heading-{{ index }}">
  <div class="p-1 border border-t-0 border-blue-200 rounded-b-lg cm-grid w-full">
    {% if iterable %}

        {% for item in iterable %}
            {% component 'list_item' item_dict=item entity=entity %} {% endcomponent %}
        {% endfor %}

    {% else %} 
    
        <div class="mb-2 text-gray-500 dark:text-gray-400"> 
            No {{ title }} added yet!
        </div>

    {% endif %}
  </div>
</div>