<!-- Accordion Header  -->
<h2 id="accordion-open-term-periods" data-accordion="open">
    <div class="accordion-header-div w-96 mt-4 flex flex-row">

        <div class="accordion-header-button
                flex items-center justify-between w-80 min-h-16 p-3 
                font-medium text-gray-500 border border-gray-200 rounded-lg">
            
            <span> Term Periods </span>

        </div>
        
    </div>
</h2>

<!-- Accordion Body  -->
<div id="accordion-collapse-body-{{ index }}" class="accordion-body">
  <div class="p-1 mt-2 w-80 flex flex-row justify-center">

    <div id="datepicker-inline" inline-datepicker data-date="02/25/2024"></div>
  
  </div>
</div>