{% load static %}

<!-- htmx -->
<script src="{% static 'js/htmx.min.js' %}"></script>

<!-- tailwind -->
<link href="{% static 'src/styles.css' %}" rel="stylesheet">

<!-- custom styles -->
<link href="{% static 'css/my_styles.css' %}" rel="stylesheet">

<!-- custom scripts -->
<script src="{% static 'js/modal.js' %}"></script>


<!-- google fonts - mclaren -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">

<!-- google fonts - poppins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- material icons  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- flowbite -->
<script src="{% static 'js/flowbite.min.js' %}"></script>

<!-- paper.js  -->
<script src="{% static 'js/paper-full.js' %}"></script>
